<!-- views/partials/reviews-form.handlebars-->

<fieldset>
    <legend>Edit Charity</legend>
    <!-- TITLE -->
    <!-- <div class="form-group">
        <label for="charity-title">Title</label><br>
        <input id="charity-title" type="text" name="title" value="{{charity.title}}"/>
    </div> -->

    <!-- TITLE -->
    <div class="form-group">
        <label for="title">Title</label><br>
        <input id="title" type="text" name="title" value="{{charity.title}}"/>
    </div>

    <!-- CHARITIES TITLE -->
    <div class="form-group">
        <label for="charity-title">Charity Title</label><br>
        <input id="charity-title" type="text" name="charityTitle" value="{{charity.charityTitle}}"/>
    </div>

    <!--DESCRIPTION -->
    <div class="form-group">
        <label for="charity-mission">Mission</label><br>
        <textarea id="charity-mission" name="description" rows="10"/> {{charity.description}}</textarea>
    </div>
</fieldset>
